<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>235718882434-5aiqejdsruc5onl12cm4k46f4q5og6dq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235718882434-5aiqejdsruc5onl12cm4k46f4q5og6dq</string>
	<key>API_KEY</key>
	<string>AIzaSyDaINgSIdAUFExDbXpJbm-xlb69AmcxCyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>235718882434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.diijam.jammer</string>
	<key>PROJECT_ID</key>
	<string>diijam-test-apr2020</string>
	<key>STORAGE_BUCKET</key>
	<string>diijam-test-apr2020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235718882434:ios:9ee3753a4b559d67ff309b</string>
	<key>DATABASE_URL</key>
	<string>https://diijam-test-apr2020.firebaseio.com</string>
</dict>
</plist>